* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background: #0b0c0c;
}
/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: center;
  background: rgb(245, 94, 132);
  font-family: "Times New Roman", Times, serif;
}

.header h1 {
  font-size: 50px;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(116, 211, 248);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #0c0f0c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1 {
  font-size: 50pt;
  font-family: 'Luckiest Guy';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -6px 0 #212121,  
                 0px -6px 0 #212121,
                 0px  6px 0 #212121,
                 0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                 6px  0px 0 #212121,
                -6px  0px 0 #212121,
                 6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                 6px -6px 0 #212121,
                -6px  6px 0 #212121,
                 6px  6px 0 #212121,
                -6px  18px 0 #212121,
                 0px  18px 0 #212121,
                 6px  18px 0 #212121,
                 0 19px 1px rgba(0,0,0,.1),
                 0 0 6px rgba(0,0,0,.1),
                 0 6px 3px rgba(0,0,0,.3),
                 0 12px 6px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.25),
                 0 24px 24px rgba(0,0,0,.2),
                 0 36px 36px rgba(0,0,0,.15);
}
/* Change color on hover */
.topnav a:hover {
  background-color: rgb(178, 230, 243);
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #badd3d;
  padding-left: 20px;
}
.box {
  width: 1000px;
  height: 150px;
  background: rgb(118, 71, 226);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.box:hover {
  background-color: rgb(33, 218, 33);
  cursor: pointer;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 50%;
}
/* Add a card effect for articles */
.card {
   background-color: #f52e8b;
  animation-name: example;
  animation-duration: 10s;
  padding: 20px;
  margin-top: 20px;
}

table,
th,
td {
  border: 5px solid rgb(245, 248, 72);
  border-collapse: collapse;
  color: rgb(13, 14, 14)
}

table.right {
  margin-left: auto;
  margin-right: auto;
}
.city {
  background-color: rgb(98, 40, 124);
  color: rgb(24, 21, 21);
  border: 5px solid rgb(161, 161, 199);
  margin: auto;
  padding: 20px;
  text-align: center;
}
#container{
  margin:0 auto 0px;
  border:1px rgb(10, 115, 129) solid;
  padding: 10px 0; 
  width: 300px;
  height: 100px;
}
.flip-box {
  background-color: transparent;
  width: 1000px;
  height: 250px;
  border: 10px solid #309408;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: rgb(64, 221, 200);
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
